@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	overflow: hidden;
	:focus-visible {
		outline: none!important;
	}
}


body {
	@apply bg-gray-200 dark:bg-gray-900 dark:text-gray-300;
}

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
	@apply bg-transparent;
}

::-webkit-scrollbar-thumb {
	@apply bg-gray-400 dark:bg-gray-600;
}

::-webkit-scrollbar-thumb:active {
	@apply bg-gray-500;
}

.font-roboto {
	font-family: 'Roboto', sans-serif;
}

.font-manrope {
	font-family: 'manrope', sans-serif;
}

.window {
	-webkit-app-region: drag;
}

img {
  	-webkit-user-drag: none;
}

.animate-pulse {
	animation: pulse 2s cubic-bezier(0, 0.8, 0.2, 1) infinite;
}

@keyframes pulse {
	0% {
		opacity: 0.3;
		transform: scale(0);
	}
	100% {
		opacity: 0;
		transform: scale(1);
	}
}

.toolbar {
	@apply bg-white dark:bg-gray-800 shadow-md px-8;
}

.titlebar--root {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 14px;
	-webkit-app-region: drag;
	@apply h-8 flex w-full justify-between items-center relative select-none bg-white text-gray-800 dark:bg-gray-800 dark:text-gray-200;
	.titlebar--icon {
		@apply h-5;
	}
	.titlebar--button {
		-webkit-app-region: no-drag;
		width: 46px;
		z-index: 22;
		@apply h-8 flex justify-center items-center bg-neutral-500 bg-opacity-0 hover:bg-opacity-10 active:hover:bg-opacity-20 select-none text-base;
		&:last-child {
			@apply hover:bg-red-500 hover:bg-opacity-100 hover:active:bg-opacity-70 hover:text-white;
		}
	}
}

.container {
	@apply max-w-7xl mx-auto w-full px-4 flex flex-col gap-8 py-4 lg:gap-12 xl:gap-16;
}

.input-group {
	input[value=""] {
		@apply bg-red-500;
	}
}